html,

body
{
    height: 100%;
    background:white;
    font: 1.1em sans-serif;
}

.container
{
    margin-right: auto;
    margin-left: auto;
}

.text--center
{
    text-align: center;
}

.text--shadow
{
    text-shadow: 1px 1px 2px rgb(177, 88, 88);
}

.discussion 
{
    overflow-y: auto;
    border: 1px solid black;
    height: 8em;
    
}
.message 
{
    width: 100%;
}
.u-flex
{
    display: flex;
}

.u-flex--column
{
    flex-direction: column;
}

.u-flex__item
{
    flex: 1 1 auto;
}
.tabs{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    
}
.tabs__tab{
    display: inline;   
    padding: 8px;
    border-right: 1px solid #bbb;
    
}

a:link
{
text-decoration:none;
}

.description_photo{
    text-align: center;
}
.photo{
    text-align: center;
}



