html,

body
{
    height: 100%;
    background:white;
    font: 1.1em sans-serif;
    color:#444
}
footer{
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12.5px;
    color: rgb(128,128,128)
}

.container
{
    margin-right: auto;
    margin-left: auto;
}

.text--center
{
    text-align: center;
}

.text--shadow
{
    text-shadow: 1px 1px 2px rgb(177, 88, 88);
}

.discussion 
{
    overflow-y: auto;
    border: 1px solid black;
    height: 8em;
    
}
.message 
{
    width: 100%;
}
.u-flex
{
    display: flex;
}

.u-flex--column
{
    flex-direction: column;
}

.u-flex__item
{
    flex: 1 1 auto;
}
.tabs{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    
}
.tabs__tab{
    display: inline;   
    padding: 8px;
    border-right: 1px solid #bbb;
    

    
}

a:link
{
text-decoration:none;

}
a:hover 
{ 
color: #00FF00; 
} 

.description_photo{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: smaller;
    margin:0 20px;
    margin-bottom: 50px;
}

.description_photo2{
    overflow: hidden;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

.description_photo2 .photodroite{
    float: right;
    margin: 5px 20px 200px 20px;
}
.description_photo2 .photogauche{
    float: left;
    margin: 5px 20px 200px 20px;
}
.photo{
    text-align: center;

}
.photogauche{
    overflow:hidden;
    padding-left: 650 px;

}
.photodroite{
    overflow: hidden;
    padding-right: 650 px;
}

.photo2{

    box-shadow: 0 1px 7px 3px rgba(0,0,0,0.35);
}



